.profile__job {
  max-width: 336px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin: 0;
  padding: 9px 0 0 0;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__job {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 0 0 33px 0;
  }
}