.profile {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  padding: 36.25px 0 0 0;
  gap: 0 31px;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 890px) {
  .profile {
    padding: 36.25px 50px 0;
  }  
}

@media screen and (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    justify-items: center;
    padding: 35px 0 0 0;
  }  
}