.form__submit-button {
    width: 358px;
    height: 50px;
    
    background: #FFFFFF;
    border-radius: 2px;
    margin: 207px 0 112px 0;
    padding: 0;
    cursor: pointer;
}
.form__submit-button:hover {
    opacity: 0.6;
}