.popup__container_avatar-link-error {
    position: absolute;
    top: 140px;
    left: 34px;
  }
  
  @media screen and (max-width: 768px) {
    .popup__container_avatar-link-error {
        top: 132px;
        left: 21px;
    }
  }

  /* @media screen and (max-width: 320px) {
    .popup__container_avatar-link-error {
        top: 136px;
        left: 21px;
    }
  }
     */