.photo__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style: none;
  font-size: 0;
  gap: 17px;
  margin: 0;
  padding: 0;
  justify-content: center;
}  

@media screen and (max-width: 425px) {
  .photo__list {
    gap: 20px;
  }
}